:root {
    --verde: #00943c;
    --gris-azul: #aac8b9;
    --gris: #eeeeee;
    --celeste: #00a6e2;
    --azul: #002f6d;
    --negro: #000000;
    --blanco: #ffffff;
    --sombra: #00000020;
    --rojo: #e74c3c;
    --amarillo: #f39c12;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    background: var(--gris);
}

body.hidden {
    overflow: hidden;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

img,
video {
    width: 100%;
}

section {
    position: relative;
}

.green-back {
    background: var(--verde);
}

.black-back {
    background: var(--negro);
}

.white-back {
    background: var(--blanco);
}

.blue-back {
    background: var(--azul);
}

.lightblue-back {
    background: var(--celeste);
}

.section-container {
    position: relative;
}

.section-title {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    font-weight: 800;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

.section-title.center {
    text-align: center;
}

.section-title.center .h2 {
    font-size: 2em;
}

.green-color {
    color: var(--verde);
}

.lightblue-color {
    color: var(--celeste);
}

main p {
    line-height: 1.45;
}

main p b {
    font-weight: 600;
}

main {
    overflow-x: hidden;
    /* animation: opacity 1s ease forwards; */
}

*[data-title] {
    position: relative;
    cursor: help;
}

*[data-title]::after {
    content: attr(data-title);
    background-color: var(--gris-oscuro);
    padding: 7px;
    color: var(--blanco);
    font-size: 0.8em;
    position: absolute;
    font-weight: 300;
    bottom: 110%;
    border-radius: 5px;
    left: 50%;
    width: max-content;
    max-width: 100px;
    /* white-space: nowrap; */
    box-shadow: 1px 1px 3px var(--gris-oscuro);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

*[data-title]:hover:after {
    opacity: 1;
    transition: all 0.2s ease;
    visibility: visible;
}

button.btn {
    border: none;
    outline: none;
}

main::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: -1;
}

body.dark main::after {
    background: rgba(0, 0, 0, 0.6);
}

main.hidden::after {
    opacity: 1;
    pointer-events: auto;
    z-index: 3000;
}

main .swiper-button-next,
main .swiper-button-prev {
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    line-height: 50px;
    transition: 0.2s ease;
    display: none;
    z-index: 500;
}

main .swiper-button-next.swiper-button-disabled,
main .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

main .swiper-button-next:after,
main .swiper-button-prev:after {
    font-size: 1.1em;
    color: var(--verde);
    font-weight: 900;
}

main .swiper-pagination {
    pointer-events: all !important;
}

main .swiper-button-next {
    right: 10px;
}

main .swiper-button-prev {
    left: 10px;
}

main .swiper-pagination-bullet-active {
    background: var(--verde);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    width: 90%;
    margin: auto;
    max-width: 400px;
}

.link {
    width: 100%;
    text-align: center;
    font-weight: 500;
    gap: 10px;
    padding: 20px 0;
}

.link a {
    color: var(--celeste);
}

.link .icon {
    transition: 0.3s ease;
    display: inline-block;
    font-size: 0.85em;
}

a.url {
    color: var(--celeste);
}

/*----------------------Header----------------------------*/
.header-contact {
    gap: 25px;
    font-size: 0.85em;
    padding: 7px;
    background: var(--azul);
}

.header-contact a {
    color: var(--blanco);
    text-decoration: none;
}

.header-loc {
    display: none;
}

header {
    background: var(--blanco);
    box-shadow: 4px 10px 20px -6px var(--sombra);
    position: sticky;
    z-index: 4500;
    top: 0px;
    width: 100%;
    left: 0;
    height: 45px;
}

.header-container {
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding: 8px 0;
    z-index: 4000;
}

.header-logo {
    width: max-content;
    height: 100%;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s 0.25s ease-out;
}

.header-logo img {
    height: 100%;
}

.header-logo.hidden {
    opacity: 0;
}

.header-nav {
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: opacity 0.5s ease;
}

.header-nav.active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.35s ease;
}

.header-nav ul {
    position: relative;
    width: 100%;
    padding: 35px;
    background: var(--gris);
    list-style: none;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    gap: 20px;
}

.header-nav ul li {
    width: 100%;
    opacity: 0;
}

.header-nav ul li a {
    padding: 12px 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    position: relative;
}

.header-nav ul li a.active {
    background: var(--celeste);
    color: var(--blanco);
    font-weight: 600;
}

.header-nav ul li a.active .header-nav-more {
    color: var(--blanco);
    font-weight: 300;
}

.header-nav-more {
    color: var(--verde);
    font-size: 1.2em;
}

.header-nav ul li a img {
    width: 20px;
}

.header-nav ul li a .icon {
    color: var(--verde);
}

.header-menu {
    color: var(--verde);
    font-size: 1.4em;
    margin-top: 4px;
}

.header-description {
    opacity: 0;
    transition: opacity 0.4s 0.5s ease;
    position: absolute;
    bottom: 100px;
    font-size: 0.85em;
    text-align: center;
    width: 90%;
    left: 5%;
    padding: 0 20px;
    line-height: 1.4;
}

.header-nav.active .header-description {
    opacity: 0.7;
}

/*++++++++++++++++++++++++*/
.more {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 18;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.more::after {
    content: "";
    background: linear-gradient(to top, #eeeeee, #eeeeee00);
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.more p {
    margin: 10px 0;
}

.see-more {
    position: absolute;
    color: var(--verde);
    font-weight: 500;
    bottom: 2px;
    z-index: 500;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1em;
    background: #fff;
    padding: 4px 15px;
    border-radius: 4px;
}

.section {
    overflow: hidden;
}

.section-title.lines {
    margin-top: 40px;
    position: relative;
    transform: scale(2) rotate(-5deg);
}

.section-title.lines h2 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.9em;
}

.filters-slider {
    overflow: hidden;
    position: relative;
}

.filters-slider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: linear-gradient(to left, #eeeeee, #eeeeee00);
}

.filters-slider-container {
    display: flex;
    gap: 25px;
    width: 100%;
    overflow-x: auto;
    padding-right: 10%;
}

.filter-slider.selected {
    color: var(--verde) !important;
    border-color: var(--verde);
    font-weight: 500;
    opacity: 1;
    /* animation: selected forwards 0.2s ease; */
    transform-origin: center;
}

.filter-slider {
    cursor: pointer;
    flex-shrink: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 0.95em;
}

.filter-slider .icon {
    font-size: 0.9em;
}

.grid {
    display: grid;
    gap: 25px;
}

.step-card {
    display: grid;
    gap: 18px;
    border-radius: 7px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.step-icon {
    padding: 10px 15px;
    background: #69eb9620;
    width: max-content;
    height: min-content;
    border-radius: 5px;
    font-size: 1.7em;
    color: var(--verde);
}

.step-content h4 {
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 1.2em;
}

body.dark .step-content h4 {
    font-weight: 500;
}

.step-content p {
    font-size: 1.05em;
    opacity: 0.7;
    line-height: 1.4;
}

.tooltip-container .icon {
    opacity: 0.35;
    font-size: 1em;
}

.icon-card {
    display: grid;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
    padding: 20px;
}

body.dark .icon-card-icon {
    background: #69eb9620;
}

.icon-card-icon {
    font-size: 1.7em;
    padding: 14px 18px;
    padding-bottom: 10px;
    border-radius: 7px;
    background: #69eb9650;
    color: var(--verde);
    width: max-content;
    height: fit-content;
}

.icon-card-icon .icon {
    margin: 0;
    padding: 0;
}

.icon-card h3 {
    font-weight: 600;
    font-size: 1.25em;
}

.icon-card p {
    opacity: 0.7;
    font-size: 1em;
}

.tooltip-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.tooltip-container span {
    padding: 10px;
    background: #d4d4d4;
    position: absolute;
    font-size: .8em;
    width: 190px;
    border-radius: 7px;
    text-align: center;
    opacity: 0;
    z-index: -1;
    bottom: 23px;
    right: 50%;
    margin-right: -100px;
    transform: translateY(25px);
    pointer-events: none;
    transition: .3s ease;
    /* filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1)); */
    border: 1px solid #bbb;
}

.tooltip-container span::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -9px;
    width: 10px;
    height: 10px;
    background: inherit;
    transform: rotate(45deg);
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.tooltip-trigger:hover+span {
    opacity: 1;
    transform: none;
    z-index: 2000;
}

/*++++++++++++++++++++++++*/
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-control {
    position: relative;
}

.form-control label {
    display: block;
    font-weight: 500;
    font-size: 0.7em;
    padding-left: 3px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: none;
    background: var(--blanco);
    border-radius: 5px;
    display: block;
    font-size: 0.75em;
    padding: 10px 12px;
    width: 100%;
    color: #656565;
    transition: box-shadow 0.2s ease, background 0.5s ease, border 0.5s ease;
    font-family: inherit;
}

.btn {
    background: var(--azul);
    color: var(--blanco);
    border-radius: 7px;
    text-align: center;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: none;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.btn-group .btn {
    padding: 10px 30px;
    width: max-content;
}

.btn.secondary {
    color: var(--azul);
    font-weight: 500;
    background: #bec9d7;
}

.btn,
.btn:focus,
.btn:hover {
    border: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn .icon.loading {
    font-size: 1em;
}

.btn.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.form-control select option {
    font-weight: 500;
}

.arrow-icon {
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 1.3em;
    color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.form-control textarea {
    padding-bottom: 40px;
    resize: none;
}

.form-control .characters {
    position: absolute;
    top: 194px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(158, 158, 158);
    font-size: 0.65em;
    font-weight: 500;
}

.form-control.error .characters,
.form-control .characters.error {
    color: var(--rojo);
}

.form-control.input-phone {
    width: min-content;
    min-width: 280px;
}

.form-control select {
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.form-control.input-subject {
    width: max-content;
    display: inline-block;
}

.form-control select {
    -moz-appearance: none;
    appearance: none;
    padding-right: 35px;
    font-weight: 500;
}

.input-phone-personal .iti__selected-flag,
.input-phone .iti__selected-flag {
    font-size: 0.7em;
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
    outline: 2px solid #cfcfcf;
}

.form-control.success input,
.form-control.success textarea {
    border-color: var(--verde);
}

.form-control.error {
    padding-bottom: 5px;
}

.form-control.error.input-msg {
    padding-bottom: 15px;
}

.form-control.error input,
.form-control.error textarea {
    border-color: var(--rojo);
}

.form-control input::placeholder,
.form-control textarea::placeholder {
    color: #00000045;
    font-weight: 500;
}

.form-control input[type=password] {
    letter-spacing: 4px;
    font-weight: 800;
}

.form-control input[type=password]::placeholder {
    letter-spacing: 0px;
    font-weight: 600;
}

.form-control input[type=color] {
    padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.form-control .inputIcon {
    visibility: hidden;
    position: absolute;
    top: 29px;
    right: 10px;
    font-size: 0.7em;
}

.form-control.success .iconCheck {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error .iconExclamation {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    width: 100%;
    text-align: right;
    font-weight: 500;
    font-size: 0.6em;
    display: none;
}

.form-control.error small,
.checkbox-block.error small {
    display: inline-block;
    color: var(--rojo);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

.termsError {
    animation: opacity 0.5s ease;
}

.form-control.input-terms {
    font-size: 1em;
    transition: 0.3s ease;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 15px;
}

.form-control.input-terms.input-terms-hover p {
    cursor: pointer;
}

.form-control.input-terms input {
    width: auto;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
}

.input-terms a {
    color: var(--celeste);
    font-weight: 500;
}

.input-terms label {
    transition: 0.2s ease;
    pointer-events: auto;
    font-weight: 400;
}

.input-terms p {
    opacity: 0.8;
    margin: 0;
    line-height: 1.45;
    width: 100%;
    pointer-events: auto;
    transition: ease 0.3s;
    font-weight: 500;
    text-align: left;
}

.form-control.input-terms input:checked~label {
    opacity: 0.6;
}

.form-control.input-terms input:checked~label a {
    pointer-events: none;
}

/* ++++++++++++++++++++++++++++++++++++ */
.cookies {
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    transition: 0.3s 0.15s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.cookies.active {
    z-index: 4000;
    opacity: 1;
    pointer-events: auto;
    background: var(--fondo-sombra);
    transition: opacity 0.3s ease;
}

.cookies-container {
    animation: ShowUp 0.5s ease forwards;
    background: var(--blanco);
    outline: 1px solid #777777;
    padding: 20px;
    max-width: 470px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    gap: 15px;
    line-height: 1.4;
    font-size: 0.8em;
}

.cookies-container .h3 {
    margin-bottom: -5px;
    font-size: 1.3em;
}

.cookies-container .form {
    display: grid;
    gap: 10px;
}

.cookies a {
    font-weight: 400;
}

/* ++++++++++++++++++++++++++++++++++++ */
.footer-contact {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 10px 20px -6px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.footer-contact h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.footer-contact p {
    margin-bottom: 20px;
}

.footer-contact-animation {
    pointer-events: none;
    overflow: hidden;
}

.footer-contact-animation lottie-player {
    transform: scale(2);
}

.footer-contact-animation lottie-player.right {
    margin-left: -100px;
}

footer {
    color: var(--blanco);
    padding-bottom: 20px;
    position: relative;
}

.footer-svg {
    position: absolute;
    bottom: 442px;
    transform: scale(2);
    z-index: 1;
}

.footer-container {
    padding-top: 40px;
    display: grid;
    gap: 45px;
    margin-bottom: 25px;
}

.footer-logo {
    width: 50%;
    padding-left: 10px;
}

.footer-logo p {
    opacity: 0.7;
    font-size: 0.9em;
    margin-top: 5px;
}

.footer-list,
.footer-list ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-list {
    gap: 18px;
    padding-left: 12px;
}

.footer-list ul li {
    list-style: none;
}

.footer-list ul li a {
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.7;
    font-size: 0.9em;
}

.footer-copy {
    font-size: 0.7em;
    font-weight: 300;
    opacity: 0.5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    gap: 5px;
    padding-top: 35px;
    border-top: 1px solid #ffffff40;
}

.footer-note {
    opacity: 1;
}

.footer-note img {
    display: inline-block;
    width: 20px;
    border-radius: 2px;
}

.iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/img/flags@2x.png");
    }
}

.iti-mobile .iti--container {
    top: 80px !important;
    z-index: 4000;
}

.opacity,
.showRight,
.popup,
.scale,
.mostrarArriba,
.progressAnimation {
    opacity: 0;
    transition: all 0.7s ease forwards;
}

.showRight.animated {
    opacity: 1;
    animation: ShowRight 0.5s ease forwards;
}

.mostrarArriba.animated {
    opacity: 1;
    animation: ShowUp 0.55s ease forwards;
}

.popup.animated {
    opacity: 1;
    animation: popup 0.7s ease forwards;
}

.scale.animated {
    opacity: 1;
    animation: scale 0.9s ease forwards;
}

.opacity.animated {
    opacity: 1;
    animation: opacity 1s ease forwards;
}

/*----------------Animations------------------*/
@keyframes ShowUp {
    0% {
        transform: translateY(75px);
        opacity: 0;
    }

    85% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide {
    100% {
        transform: translateX(calc(-100% + 350px));
    }
}

@keyframes ShowRight {
    0% {
        transform: translateX(-75px);
        opacity: 0;
    }

    85% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0.92);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes selected {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*++++++++++++++++++++++++++++*/
@media screen and (min-width:420px) {
    h1 {
        font-size: 2.3em;
    }

    main p {
        font-size: 1.1em;
    }

    .header-nav ul li a .dot {
        right: 140px;
    }

    .footer-list {
        padding: 0;
    }

    .footer-announce-container p {
        font-size: 1.25em;
    }
}

@media screen and (min-width:760px) {
    h1 {
        font-size: 2.7em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.4em;
    }

    .section-title.center .h2 {
        font-size: 2.5em;
    }

    .section-title.left {
        width: 80%;
    }

    .link {
        font-size: 1.2em;
        padding: 40px 0;
    }

    .cookies .link {
        font-size: 1em;
    }

    *[data-title]::after {
        font-size: 0.9em;
        max-width: 130px;
        padding: 7px 10px;
    }

    main .swiper-button-next {
        right: 20px;
    }

    main .swiper-button-prev {
        left: 20px;
    }

    main p {
        font-size: 1.2em;
        line-height: 1.45;
    }

    .header-contact {
        gap: 50px;
    }

    .header-nav ul {
        gap: 35px;
        align-items: center;
    }

    .header-description {
        font-size: 1.1em;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-nav ul li a {
        padding: 12px 25px;
        font-size: 1.2em;
    }

    .header-nav-more {
        font-size: 1.3em;
    }

    .header-nav ul li {
        width: 80%;
    }

    .cookies-container {
        width: 450px;
        border-radius: 10px;
        margin: auto;
        animation: scale 0.5s ease forwards;
    }

    .form-control input,
    .form-control select,
    .form-control textarea {
        font-size: 0.85em;
        padding: 12px 15px;
    }

    .arrow-icon {
        top: 6px;
        font-size: 1.5em;
    }

    .input-terms label {
        font-size: 0.8em;
    }

    .form-control .characters {
        font-size: 0.7em;
        top: 187px;
    }

    .footer-contact {
        max-width: 500px !important;
        padding: 35px;
    }

    .footer-contact h2 {
        font-size: 2em;
    }

    .footer-contact .btn {
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 40px;
    }

    .footer-logo {
        grid-column: auto;
        width: 80%;
        padding-left: 0;
    }

    .footer-list h3 {
        font-size: 1.1em;
    }

    .footer-list ul li a {
        font-size: 0.8em;
    }

    .footer-list ul {
        gap: 15px;
    }

    .margin {
        max-width: 600px;
    }

    .filters-slider-container {
        gap: 25px;
    }

    .filter-slider {
        font-size: 1.15em;
    }

    .footer-container {
        gap: 30px;
    }
}

@media screen and (min-width:1000px) {
    * {
        scrollbar-width: 7px;
        /* scrollbar-color: transparent rgb(211, 211, 211); */
    }

    *::-webkit-scrollbar {
        width: 9px;
        background: var(--blanco);
        cursor: initial;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #b8b8b8;
        border-radius: 10px;
        height: 70px;
    }

    *[data-title]::after {
        font-size: 0.8em;
        max-width: 170px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.8em;
    }

    h3 {
        font-size: 1.8em;
    }

    .link {
        font-size: 1.3em;
    }

    .link a:hover .icon {
        transform: translateX(7px);
    }

    .section-title.left {
        width: 60%;
    }

    .section-title.center {
        margin: auto;
        width: 70%;
    }

    .btn:hover {
        background: #002453;
    }

    .header-nav ul li a.active:hover {
        background: #008ec2;
    }

    .header-loc {
        display: initial;
    }

    .btn.secondary:hover {
        background: #afb9c5;
    }

    main .swiper-button-next.swiper-button-disabled,
    main .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    main .swiper-button-next,
    main .swiper-button-prev {
        width: 55px;
        height: 55px;
        line-height: 55px;
        display: flex;
    }

    main .swiper-button-next:active,
    main .swiper-button-prev:active {
        transform: scale(0.90);
    }

    main .swiper-button-next:after,
    main .swiper-button-prev:after {
        font-size: 1.7em;
    }

    main .swiper-button-next:after {
        margin-left: 4px;
    }

    main .swiper-button-prev:after {
        margin-right: 4px;
    }

    main .swiper-button-next {
        right: 4vw;
    }

    main .swiper-button-prev {
        left: 4vw;
    }

    header {
        height: 50px;
    }

    .header-nav {
        pointer-events: auto;
        z-index: auto;
        opacity: 1;
        left: 0;
        position: absolute;
        top: 0px;
        height: 100%;
    }

    .header-nav ul {
        transform: none;
        position: relative;
        width: 100%;
        padding: 10px 0;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 45px;
        background: none;
    }

    .header-nav ul li a {
        font-size: 0.9em;
        padding: 0;
        justify-content: center;
        background: none;
        /* transition: none; */
    }

    .header-nav ul li a.active {
        padding: 7px 15px;
        transition: none;
    }

    .header-description {
        display: none;
    }

    .header-menu {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    .header-nav ul li a:not(.active):hover {
        color: var(--celeste);
    }

    .header-nav ul li {
        opacity: 1;
        width: auto;
    }

    .header-nav-more {
        display: none;
    }

    .header-logo {
        z-index: 1000;
    }

    .margin {
        width: 90%;
        max-width: 1000px;
    }

    .filters-slider-container {
        justify-content: center;
        padding: 0;
    }

    .filter-slider {
        font-size: 1.3em;
    }

    .footer-contact {
        max-width: 710px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-contact .btn {
        width: 80%;
    }

    .footer-contact-animation {
        width: 120%;
    }

    .footer-announce-title {
        width: 100%;
    }

    .footer-contact h2 {
        font-size: 1.7em;
    }

    .footer-contact p {
        font-size: 1.2em;
    }

    .footer-contact .btn {
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    .footer-container {
        width: 70%;
    }

    .footer-logo {
        width: 70%;
        max-width: 220px;
    }

    .footer-logo p {
        font-size: 1em;
    }

    .footer-list h3 {
        font-size: 1.25em;
        margin-bottom: 10px;
    }

    .footer-list ul li a {
        font-size: 0.95em;
    }

    .footer-list ul {
        gap: 25px;
    }

    .footer-list ul li a:hover {
        opacity: 1;
    }

    .footer-copy {
        margin-bottom: 7px;
    }

    .footer-announce-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .footer-announce-title {
        width: 100%;
    }

    .footer-announce-container p,
    .footer-announce-container .h3 {
        max-width: unset;
    }

    .footer-announce-container .btn.btn-donation {
        padding: 12px 60px;
        font-size: 1.3em;
    }
}

@media screen and (min-width:1300px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 2.3em;
    }

    .header-nav ul {
        gap: 50px;
    }

    .header-nav ul li a {
        font-size: 1em;
    }

    .link {
        font-size: 1.5em;
        padding: 50px 0;
    }

    .section-title.center {
        width: 70%;
    }

    .cookies-container h3 {
        font-size: 1.6em;
    }

    main p {
        font-size: 1.5em;
    }

    .grid {
        gap: 30px;
    }

    .filter-slider:not(.selected):hover {
        opacity: 0.7;
    }

    .filters-slider-container {
        gap: 35px;
    }

    .form-control input,
    .form-control select,
    .form-control textarea {
        font-size: 0.95em;
    }

    .form-control.input-terms input {
        width: 17px;
        height: 17px;
    }

    .form {
        gap: 18px;
    }

    .input-terms label {
        font-size: 0.9em;
    }

    .arrow-icon {
        top: 8px;
        font-size: 1.6em;
    }

    .form-control .characters {
        font-size: 0.85em;
        top: 205px;
    }

    .footer-contact {
        max-width: 1000px !important;
        margin-bottom: 70px;
        padding: 35px 55px;
    }

    .footer-contact .btn {
        width: 90%;
    }

    .footer-contact-animation {
        width: 120%;
    }

    .footer-contact-animation lottie-player {
        transform: scale(2.1);
    }

    .footer-announce-title {
        width: 100%;
    }

    .footer-contact h2 {
        font-size: 2.1em;
    }

    .footer-contact p {
        font-size: 1.35em;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .footer-container {
        margin-bottom: 50px;
    }

    .footer-copy {
        font-size: 0.9em;
    }

    .margin {
        width: 85%;
        max-width: 1300px;
    }

    .footer-logo p {
        font-size: 1.15em;
    }

    .footer-list h3 {
        font-size: 1.35em;
    }
}

@media screen and (min-width:1850px) {}