main {
    overflow: hidden;
}

.banner img {
    height: 220px;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 15px;
}

.section-title p {
    margin-top: 12px;
}

.section-title .btn {
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
}

.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    padding-bottom: 65px;
    gap: 30px;
}

.benefit {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.benefit-icon {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background: #00a6e230;
    color: var(--celeste);
    font-size: 1.6em;
}

.benefit-title p {
    font-weight: 500;
    opacity: 0.8;
    margin-top: 10px;
    font-size: 0.9em;
}

.project {
    position: relative;
    overflow: hidden;
    margin-bottom: -5px;
}

.project.last .project-img img {
    height: 200px;
}

.project-img img {
    height: 300px;
    object-fit: cover;
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    color: var(--blanco);
    text-shadow: 2px 4px 10px #121212;
}

.project-content h3 {
    font-size: 1.25em;
    margin-bottom: 20px;
}

.project-content h3 span {
    font-size: 0.9em;
    font-weight: 400;
}

.project-content p,
.project-content ul li {
    font-size: 0.82em;
    margin-top: 8px;
}

.project-content ul li::marker {
    color: var(--celeste);
}

.footer-contact {
    margin-top: 60px;
}

@media screen and (min-width:760px) {
    .banner img {
        height: 300px;
    }

    .benefit-title p {
        font-size: 1.05em;
    }

    .project.last .project-img img {
        height: 240px;
    }

    .project-img img {
        height: 350px;
    }

    .project-content {
        padding: 40px;
    }

    .project-content h3 {
        font-size: 1.45em;
        margin-bottom: 20px;
    }

    .project-content p,
    .project-content ul li {
        font-size: 1em;
    }

    .project-content ul li {
        margin-left: 15px;
    }
}

@media screen and (min-width:1000px) {
    .section-title.center {
        width: 100%;
        display: flex;
        gap: 0;
    }

    .banner img {
        margin-bottom: 0;
    }

    .section-title.center>* {
        max-width: 50%;
    }

    .section-title-content {
        background: var(--gris);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        text-align: left;
    }

    .section-title-content * {
        margin: 0;
        width: 100%;
    }

    .section-title h1 {
        font-size: 2.7em;
    }

    .section-title .btn {
        max-width: 300px;
        font-size: 0.9em;
    }

    .banner img {
        height: 350px;
    }

    .benefits {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .benefit-title h3 {
        font-size: 1.2em;
    }

    .benefit-title p {
        font-size: 0.95em;
    }

    .project.last .project-img img {
        height: 250px;
    }

    .project-img img {
        height: 400px;
    }

    .project-content {
        padding: 50px;
    }

    .project-content h3 {
        font-size: 1.6em;
    }

    .project-content ul li {
        font-size: 1.15em;
        margin-left: 15px;
        margin-top: 10px;
    }
}

@media screen and (min-width:1300px) {
    .section-title h1 {
        font-size: 3em;
    }

    .section-title p {
        font-size: 1.35em;
        margin-top: 15px;
    }

    .section-title .btn {
        max-width: 350px;
        font-size: 1em;
    }

    .section-title-content {
        padding: 60px;
        font-size: 1.2em;
    }

    .banner img {
        height: 500px;
    }

    .benefits {
        padding-bottom: 100px;
    }

    .benefit-icon {
        width: 65px;
        height: 65px;
        font-size: 2.3em;
        margin-bottom: 10px;
    }

    .benefit-title h3 {
        font-size: 1.45em;
    }

    .benefit-title p {
        font-size: 1.15em;
    }

    .project.last .project-img img {
        height: 320px;
    }

    .project-img img {
        height: 500px;
    }

    .project-content {
        padding: 7vh 20vh;
    }

    .project-content h3 {
        font-size: 2.2em;
    }

    .project-content p,
    .project-content ul li {
        font-size: 1.4em;
    }

    .project-content ul li {
        margin-left: 20px;
        margin-top: 12px;
    }

    .project-content h3 {
        font-size: 2.5em;
    }

    .footer-contact {
        margin-top: 80px;
    }
}